.rodapie{
    display: flex;
    align-items: center;
    text-align: center;
}

@media screen and (min-width:0){
    .rodapie{
        flex-direction: column;
        padding: 1rem;

    }
    
}

@media screen and (min-width:768px){
    .rodapie{
        flex-direction: row;
        padding: 5rem 2rem 2rem;
        justify-content: space-between;
    }
    
}